<div [ngStyle]="{'background-image': getUrl()}" style="height:100%">
<div class="wrapper">
    <div class="register">
    <form [formGroup]="register">
        <h2>Create Account</h2>
        <input type="text" placeholder="Enter Username" class="input" formControlName="username" [(ngModel)]="UserDataModel.userName">
        <span class="text-danger" *ngIf="register.controls['username'].dirty && register.hasError('required','username')">*Username is required</span>
        <input type="email" placeholder="Enter Email address" class="input" formControlName="emailId" [(ngModel)]="UserDataModel.emailId">
        <span class="text-danger" *ngIf="register.controls['emailId'].dirty && register.hasError('required','emailId')">*Email Id is required</span>
        <input type="password" placeholder="Enter password" class="input" formControlName="password" [(ngModel)]="UserDataModel.password">
        <span class="text-danger" *ngIf="register.controls['password'].dirty && register.hasError('required','password')">*Password is required</span>
        <select formControlName="usertype" class="dropdown" (click)="onOptionsSelected($event)" [(ngModel)]="UserDataModel.userType">   
            <option value="" disabled selected>Select User Type</option>  
            <option value="Author">Author</option>  
            <option value="Reader">Reader</option>  
        </select>
        <div class="registerbtn">
            <button (click)="registerSubmit()" [disabled]="register.invalid">Sign Up</button>
            <button (click)="goToLogin()">Login</button>
        </div>
    </form>
    </div>
    </div>
    <a class="btn btn-primary" id="btnDeleteSuccessMsg" style="display: none;" data-bs-toggle="modal" href="#modelDeleteSuccess" role="button">Open first modal</a>
<div class="modal fade" id="registerSuccess" aria-labelledby="exampleModalToggleLabel" tabindex="-1" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color:green;" id="exampleModalToggleLabel">Success!!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="color: indigo;">
       {{SuccessMessage}}
      </div>
    </div>
  </div>
</div>
<a class="btn btn-primary" id="btnSuccessMsg" style="display: none;" data-bs-toggle="modal" href="#registerSuccess" role="button">Open first modal</a>
</div>

    
