<div [ngStyle]="{'background-image': getUrl()}" style="height:100%">
<div class="wrapper">
<div class="login">
<form [formGroup]="login">
    <h2>Login</h2>
    <input type="text" placeholder="Username" class="input" formControlName="username" [(ngModel)]="UserDataModel.userName">
    <span class="text-danger" *ngIf="login.controls['username'].dirty && login.hasError('required','username')">*Username is required</span>
    <input type="email" placeholder="Email address" class="input" formControlName="emailId" [(ngModel)]="UserDataModel.emailId">
    <span class="text-danger" *ngIf="login.controls['emailId'].dirty && login.hasError('required','emailId')">*Email Id is required</span>
    <input type="password" placeholder="Password" class="input" formControlName="password" [(ngModel)]="UserDataModel.password"> 
    <span class="text-danger" *ngIf="login.controls['password'].dirty && login.hasError('required','password')">*Password is required</span>
    <select formControlName="usertype" class="dropdown" (click)="onOptionsSelected($event)" [(ngModel)]="UserDataModel.userType">   
        <option value="" disabled selected>Select User Type</option>  
        <option value="Author">Author</option>  
        <option value="Reader">Reader</option>  
    </select>
     <!-- <span class="text-danger" [class.d-none]="usertype.valid||usertype.untouched">*Please select the user type.</span> -->
    <div class="loginbtn">
        <button (click)="loginSubmit()" [disabled]="login.invalid">Login</button>
        <button (click)="goToSignup()">Sign Up</button>
    </div>
</form>
</div>
</div>
<div class="modal fade" id="exampleModalToggle" aria-labelledby="exampleModalToggleLabel" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="color: red;" id="exampleModalToggleLabel">Error </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         {{ErrorMessage}}
        </div>
      </div>
    </div>
  </div>
  <a class="btn btn-primary" id="btnErrorMsg" style="display: none;" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Open first modal</a>
  <a class="btn btn-primary" id="btnDeleteSuccessMsg" style="display: none;" data-bs-toggle="modal" href="#modelDeleteSuccess" role="button">Open first modal</a>
<div class="modal fade" id="loginSuccess" aria-labelledby="exampleModalToggleLabel" tabindex="-1" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color:green;" id="exampleModalToggleLabel">Success!!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="color: indigo;">
        You have logged in successfully.
      </div>
    </div>
  </div>
</div>
<a class="btn btn-primary" id="btnSuccessMessage" style="display: none;" data-bs-toggle="modal" href="#loginSuccess" role="button">Open first modal</a>
</div>
